[submodule "core"]
	path = core
	url = https://github.com/abdullah-algumar/BookingAppBackend.git
	branch = master
[submodule "frontend"]
	path = frontend
	url = https://github.com/abdullah-algumar/ReactApp
	branch = master
